<div id="wrapper">
	<div class="dashboard-header">
		<header></header>
	</div>


	<div class='container'>
		 <tabmenu></tabmenu>
		 <div ui-view></div>
	</div

</div>

<div id="newMsgModal" class="modal fade" role="dialog">
<div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Create New Message</h4>
		</div>
		<div class="modal-body">
			<label for="inputTitle" class="sr-only">Title</label>
			<input type="text" id="inputTitle" class="form-control" placeholder="Title"  required autofocus ng-model="homeCtrl.title">
			<textarea class="form-control" rows="3" ng-model="homeCtrl.content"></textarea>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Photo</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Video</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="homeCtrl.submitPost()">Post</button>
		</div>
	</div>

</div>
</div>
