<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 separator">
                            <form role="form">
                    			<div class="form-group">
                    				<div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="signupCtrl.username"/>
                                    </div>
                    			</div>
                    			<div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" tabindex="4" ng-model="signupCtrl.email">
                                    </div>
                    			</div>
                    			<div class="row">
                    				<div class="col-xs-12 col-sm-6 col-md-6">
                    					<div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="password" class="form-control" placeholder="Password" required ng-model="signupCtrl.password"/>
                                            </div>
                    					</div>
                    				</div>
                    				<div class="col-xs-12 col-sm-6 col-md-6">
                    					<div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password" tabindex="6" required ng-model="signupCtrl.confpass" />
                                            </div>
                    					</div>
                    				</div>
                    			</div>
                    			<div class="row">
                    				<div class="col-xs-4 col-sm-3 col-md-3">
                    					<span class="button-checkbox">
                    						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1" />
                    					</span>
                    				</div>
                    				<div class="col-xs-8 col-sm-9 col-md-9">
                    					 By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    				</div>
            			        </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 separator">
                                <button class="btn btn-lg btn-primary btn-block" ng-click="signupCtrl.signup()">Register</button>
                            	<div class="col-xs-12 col-md-6"><a ui-sref="login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
